In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Home/Traffic_Analysis/Resources/Nevada_population_raw.csv")
df.head()

,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,1,Nevada,Churchill County,24877.0,24875.0,24816.0,24607.0,24267.0,23956.0,23864.0,24006.0,23957.0,24088.0,24574.0,25048.0,25334.0,25363.0
1,3,Nevada,Clark County,1951269.0,1951278.0,1952640.0,1962162.0,1989644.0,2017798.0,2053929.0,2097832.0,2140240.0,2183273.0,2228970.0,2275884.0,2307540.0,2315963.0
2,5,Nevada,Douglas County,46997.0,47000.0,47037.0,46982.0,46930.0,46956.0,47406.0,47422.0,47805.0,48014.0,48527.0,48998.0,49135.0,49088.0
3,7,Nevada,Elko County,48818.0,48942.0,49093.0,49463.0,50998.0,52378.0,52616.0,51756.0,52022.0,52307.0,52470.0,52880.0,52997.0,53006.0
4,9,Nevada,Esmeralda County,783.0,784.0,783.0,770.0,791.0,847.0,834.0,847.0,839.0,858.0,827.0,870.0,878.0,886.0

Summary statistics

In [3]:
df.shape

(21, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COUNTY             19 non-null     object
 1   STNAME             17 non-null     object
 2   CTYNAME            17 non-null     object
 3   CENSUS2010POP      17 non-null     float64
 4   ESTIMATESBASE2010  17 non-null     float64
 5   POPESTIMATE2010    17 non-null     float64
 6   POPESTIMATE2011    17 non-null     float64
 7   POPESTIMATE2012    17 non-null     float64
 8   POPESTIMATE2013    17 non-null     float64
 9   POPESTIMATE2014    17 non-null     float64
 10  POPESTIMATE2015    17 non-null     float64
 11  POPESTIMATE2016    17 non-null     float64
 12  POPESTIMATE2017    17 non-null     float64
 13  POPESTIMATE2018    17 non-null     float64
 14  POPESTIMATE2019    17 non-null     float64
 15  POPESTIMATE042020  17 non-null     float64
 16  POPESTIMATE2020    17 non-null     float64
dtypes: float64(14), object(3)
memory usage: 2.9+ KB

In [5]:
df['COUNTY'].value_counts()

1                                                                                                                                            1
21                                                                                                                                           1
Nevada rows copied from:                                                                                                                     1
510                                                                                                                                          1
33                                                                                                                                           1
31                                                                                                                                           1
29                                                                                                                                           1
27                                                                                                                                           1
23                                                                                                                                           1
19                                                                                                                                           1
3                                                                                                                                            1
17                                                                                                                                           1
15                                                                                                                                           1
13                                                                                                                                           1
11                                                                                                                                           1
9                                                                                                                                            1
7                                                                                                                                            1
5                                                                                                                                            1
Annual Resident Population Estimates for States and Counties: April 1, 2010 to July 1, 2019; April 1, 2020; and July 1, 2020 (CO-EST2020)    1
Name: COUNTY, dtype: int64

In [6]:
df.dtypes

COUNTY                object
STNAME                object
CTYNAME               object
CENSUS2010POP        float64
ESTIMATESBASE2010    float64
POPESTIMATE2010      float64
POPESTIMATE2011      float64
POPESTIMATE2012      float64
POPESTIMATE2013      float64
POPESTIMATE2014      float64
POPESTIMATE2015      float64
POPESTIMATE2016      float64
POPESTIMATE2017      float64
POPESTIMATE2018      float64
POPESTIMATE2019      float64
POPESTIMATE042020    float64
POPESTIMATE2020      float64
dtype: object

In [7]:
df.head(5)

,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,1,Nevada,Churchill County,24877.0,24875.0,24816.0,24607.0,24267.0,23956.0,23864.0,24006.0,23957.0,24088.0,24574.0,25048.0,25334.0,25363.0
1,3,Nevada,Clark County,1951269.0,1951278.0,1952640.0,1962162.0,1989644.0,2017798.0,2053929.0,2097832.0,2140240.0,2183273.0,2228970.0,2275884.0,2307540.0,2315963.0
2,5,Nevada,Douglas County,46997.0,47000.0,47037.0,46982.0,46930.0,46956.0,47406.0,47422.0,47805.0,48014.0,48527.0,48998.0,49135.0,49088.0
3,7,Nevada,Elko County,48818.0,48942.0,49093.0,49463.0,50998.0,52378.0,52616.0,51756.0,52022.0,52307.0,52470.0,52880.0,52997.0,53006.0
4,9,Nevada,Esmeralda County,783.0,784.0,783.0,770.0,791.0,847.0,834.0,847.0,839.0,858.0,827.0,870.0,878.0,886.0

In [8]:
# drop columns not needed
drop_df = df.drop(['COUNTY','STNAME','CENSUS2010POP','ESTIMATESBASE2010','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE042020'], axis=1)

In [9]:
drop_df.head()

,CTYNAME,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,Churchill County,23957.0,24088.0,24574.0,25048.0,25363.0
1,Clark County,2140240.0,2183273.0,2228970.0,2275884.0,2315963.0
2,Douglas County,47805.0,48014.0,48527.0,48998.0,49088.0
3,Elko County,52022.0,52307.0,52470.0,52880.0,53006.0
4,Esmeralda County,839.0,858.0,827.0,870.0,886.0

In [10]:
# rename columns to match traffic_data and formatting
rename_df = drop_df.rename(columns={'CTYNAME': 'County', 'POPESTIMATE2016': 'Population_2016', 'POPESTIMATE2017': 'Population_2017', 'POPESTIMATE2018': 'Population_2018', 'POPESTIMATE2019': 'Population_2019', 'POPESTIMATE2020': 'Population_2020'})

In [11]:
rename_df.head()

,County,Population_2016,Population_2017,Population_2018,Population_2019,Population_2020
0,Churchill County,23957.0,24088.0,24574.0,25048.0,25363.0
1,Clark County,2140240.0,2183273.0,2228970.0,2275884.0,2315963.0
2,Douglas County,47805.0,48014.0,48527.0,48998.0,49088.0
3,Elko County,52022.0,52307.0,52470.0,52880.0,53006.0
4,Esmeralda County,839.0,858.0,827.0,870.0,886.0

In [12]:
# Rename contents of County column to match traffic_data County column
rename_df.County.unique()

array(['Churchill County', 'Clark County', 'Douglas County',
       'Elko County', 'Esmeralda County', 'Eureka County',
       'Humboldt County', 'Lander County', 'Lincoln County',
       'Lyon County', 'Mineral County', 'Nye County', 'Pershing County',
       'Storey County', 'Washoe County', 'White Pine County',
       'Carson City', nan], dtype=object)

In [13]:
county_df = rename_df.replace({'County' : {'Churchill County': 'CHURCHILL', 'Clark County': 'CLARK', 'Douglas County': 'DOUGLAS',
       'Elko County': 'ELKO', 'Esmeralda County': 'ESMERALDA', 'Eureka County': 'EUREKA',
       'Humboldt County': 'HUMBOLDT', 'Lander County': 'LANDER', 'Lincoln County': 'LINCOLN',
       'Lyon County': 'LYON', 'Mineral County': 'MINERAL', 'Nye County': 'NYE', 'Pershing County': 'PERSHING',
       'Storey County': 'STOREY', 'Washoe County': 'WASHOE', 'White Pine County': 'WHITE PINE',
       'Carson City': 'CARSON'}})
county_df.head()

,County,Population_2016,Population_2017,Population_2018,Population_2019,Population_2020
0,CHURCHILL,23957.0,24088.0,24574.0,25048.0,25363.0
1,CLARK,2140240.0,2183273.0,2228970.0,2275884.0,2315963.0
2,DOUGLAS,47805.0,48014.0,48527.0,48998.0,49088.0
3,ELKO,52022.0,52307.0,52470.0,52880.0,53006.0
4,ESMERALDA,839.0,858.0,827.0,870.0,886.0

In [14]:
county_df.isna()

,County,Population_2016,Population_2017,Population_2018,Population_2019,Population_2020
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True

In [15]:
# I used fillna because dropna wasn't working?
county_df = county_df.fillna(0)

In [16]:
county_df.tail()

,County,Population_2016,Population_2017,Population_2018,Population_2019,Population_2020
16,CARSON,54323.0,54684.0,55287.0,55894.0,56034.0
17,0,0.0,0.0,0.0,0.0,0.0
18,0,0.0,0.0,0.0,0.0,0.0
19,0,0.0,0.0,0.0,0.0,0.0
20,0,0.0,0.0,0.0,0.0,0.0

In [17]:
county_df.head()

,County,Population_2016,Population_2017,Population_2018,Population_2019,Population_2020
0,CHURCHILL,23957.0,24088.0,24574.0,25048.0,25363.0
1,CLARK,2140240.0,2183273.0,2228970.0,2275884.0,2315963.0
2,DOUGLAS,47805.0,48014.0,48527.0,48998.0,49088.0
3,ELKO,52022.0,52307.0,52470.0,52880.0,53006.0
4,ESMERALDA,839.0,858.0,827.0,870.0,886.0

In [19]:
county_df.dtypes

County              object
Population_2016    float64
Population_2017    float64
Population_2018    float64
Population_2019    float64
Population_2020    float64
dtype: object

In [27]:
county_df['Population_2016 '] = county_df['Population_2016 '].astype(int)
county_df.dtypes

KeyError: 'Population_2016 '

In [18]:
# Save dataframe to CSV
# county_df.to_csv('../Analysis/Nevada_population_clean.csv')